.menu {
  display: flex;
  gap: 16px;
  height: 45px;
  .navigation {
    @include primary-div;
    padding: 4px;
    box-sizing: border-box;
    flex-direction: row;
    gap: 2px;
    .itemMenu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      gap: 0px;
      height: 100%;
      width: 100%;
      padding: 6px 12px;
      box-sizing: border-box;
      border-radius: 8px;
      transition: 0.2s;
      color: var(--main-color);
      &:hover {
        // text-decoration: underline;
        background-color: rgba(255, 255, 255, 0.2) !important;
      }
      &:active {
        transform: scale(0.96);
      }
      .openIcon {
        width: 14px;
      }
      &.comingsoon {
        &:hover {
          text-decoration: inherit;
        }
      }
      &.current {
        // text-decoration: underline;
        color: var(--main-color);
        svg {
          fill: var(--main-color);
        }
      }
      svg {
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
        fill: var(--light-color);
      }
      &.addANoodle {
        background-color: var(--main-color);
        height: 70px;
        transform: translateY(-10px);
        color: white;
        svg {
          width: 32px;
          min-width: 32px;
          height: 32px;
          min-height: 32px;
          fill: white;
        }
        &:hover {
          background-color: #ffa94e !important;
        }
      }
    }
    .networks {
      display: none;
      padding-top: 8px;
      padding-bottom: 4px;
    }
  }
  .footerControls {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  .menu {
    .navigation {
      .itemMenu {
        font-size: 12px;
        svg {
          width: 16px;
          min-width: 16px;
          height: 16px;
          min-height: 16px;
        }
        &.addANoodle {
          height: 45px;
          transform: translateY(0px);
          background-color: var(--light-color);
          svg {
            width: 20px;
            min-width: 20px;
            height: 20px;
            min-height: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .menu {
    padding: 0 25px;
    box-sizing: border-box;
    position: fixed;
    bottom: 25px;
    width: 100vw;
    height: 55px;
    left: 0;
    font-size: 10px;
    // font-size: 18px;
  }
}

@keyframes popupAnimation {
  from {
    transform: translateY(100%);
    // opacity: 0;
  }
  to {
    transform: translateY(0%);
    // opacity: 1;
  }
}
